<?xml version="1.0"?>
<config>
    <sections>
        <payment>
            <groups>
                <g2apay translate="label" module="paygate">
                    <label>G2A Pay</label>
                    <sort_order>670</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <header>
                            <frontend_model>g2apay/adminhtml_system_config_header</frontend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>0</sort_order>
                        </header>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>

                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>

                        <use_title translate="label">
                            <label>Display title instead of logo</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>

                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_title>

                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <depends>
                                <use_title>1</use_title>
                            </depends>
                            <sort_order>3</sort_order>

                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>

                        <order_status translate="label">
                            <label>New order status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status_processing</source_model>
                            <sort_order>4</sort_order>

                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status>

                        <complete_email translate="label">
                            <label>Send complete email</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>

                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </complete_email>

                        <api_hash translate="label">
                            <label>API Hash</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>

                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_hash>

                        <api_secret translate="label">
                            <label>API Secret</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>

                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_secret>

                        <merchant_email translate="label">
                            <label>Merchant Email</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>

                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </merchant_email>

                        <allowspecific translate="label">
                            <label>Allowed countries</label>
                            <frontend_type>allowspecific</frontend_type>
                            <sort_order>9</sort_order>
                            <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </allowspecific>

                        <specificcountry translate="label">
                            <label>Specific allowed countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>10</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </specificcountry>

                        <environment translate="label">
                            <label>Environment</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>11</sort_order>
                            <source_model>g2apay/option_environment</source_model>

                            <can_be_empty>0</can_be_empty>

                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </environment>

                        <ipn_secret translate="label">
                            <label>IPN Secret</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>12</sort_order>

                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ipn_secret>

                        <enable_log translate="label">
                            <label>Enable log</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>13</sort_order>

                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enable_log>

                        <log_levels translate="label">
                            <label>Log levels</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>g2apay/option_log</source_model>
                            <depends>
                                <enable_log>1</enable_log>
                            </depends>
                            <sort_order>14</sort_order>

                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </log_levels>
                        <footer>
                            <frontend_model>g2apay/adminhtml_system_config_footer</frontend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>100</sort_order>
                        </footer>

                    </fields>
                </g2apay>
            </groups>
        </payment>
    </sections>
</config>